Repository Whiskyrie/NexusTransit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Whiskyrie, @Maexar, @Gugalzg, @MarcoAfB

fix(incidents): ajusta interface de atualização de status e upload de arquivos
  apps/api/src/modules/incidents/incidents.controller.spec.ts
  apps/api/src/modules/incidents/incidents.service.spec.ts
Owners: @Whiskyrie

ui(desktop): introduz design tokens e refatora componentes de dashboard
  apps/desktop/src/components/dashboard/ShipmentsOverview.tsx
  apps/desktop/src/components/dashboard/TopClientes.tsx
  apps/desktop/src/components/dashboard/TopEstados.tsx
  apps/desktop/src/components/ui/MetricCard.tsx
  apps/desktop/src/components/ui/charts/PerformanceChart.tsx
  apps/desktop/src/pages/DashboardPage.tsx
  apps/desktop/src/shared/components/molecules/MetricCard/MetricCard.tsx
  apps/desktop/src/styles/tokens.ts
Owners: @Gugalzg, @Whiskyrie

test(tracking): robustez em testes de cálculo geográfico e histórico
  apps/api/src/modules/tracking/controllers/public-tracking.controller.spec.ts
  apps/api/src/modules/tracking/services/tracking-calculation.service.spec.ts
  apps/api/src/modules/tracking/services/tracking-events.service.spec.ts
  apps/api/src/modules/tracking/services/tracking-history.service.spec.ts
  apps/api/src/modules/tracking/subscribers/tracking-event.subscriber.spec.ts
Owners: @Whiskyrie

test(logger): adicionar testes para interceptadores, filtros e controladores
  packages/logger/src/controllers/metrics.controller.spec.ts
  packages/logger/src/filters/all-exceptions.filter.spec.ts
  packages/logger/src/interceptors/correlation-id.interceptor.spec.ts
  packages/logger/src/interceptors/performance.interceptor.spec.ts
  packages/logger/src/logging.module.spec.ts
Owners: @Whiskyrie

chore(logger): configurar infraestrutura de testes unitários
  packages/logger/jest.config.json
  packages/logger/package.json
  packages/logger/src/test/setup.ts
  packages/logger/tsconfig.json
  packages/logger/tsconfig.spec.json
  packages/logger/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(logger): adicionar testes para configuração e serviços de métricas
  packages/logger/src/config/pino.config.spec.ts
  packages/logger/src/services/metrics.service.spec.ts
Owners: @Whiskyrie

chore(deps): atualizar pnpm-lock.yaml com novas dependências e metadados
  pnpm-lock.yaml
Owners: @Whiskyrie

test(compliance): implementar testes unitários para serviços e controladores
  packages/compliance/src/compliance.controller.spec.ts
  packages/compliance/src/consent.service.spec.ts
  packages/compliance/src/data-portability.service.spec.ts
  packages/compliance/src/data-request.service.spec.ts
Owners: @Whiskyrie

refactor(logger): remover importação não utilizada em logging.module.spec.ts
  packages/logger/src/logging.module.spec.ts
Owners: @Whiskyrie

chore: atualizar versão do pnpm e configurações do vscode
  .vscode/settings.json
  package.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(compliance): configurar ambiente de testes com Jest
  packages/compliance/jest.config.json
  packages/compliance/jest.setup.ts
  packages/compliance/package.json
  packages/compliance/tsconfig.json
  packages/compliance/tsconfig.spec.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(auth): adicionar testes para enums e decorators
  packages/auth/src/decorators/current-user.decorator.spec.ts
  packages/auth/src/decorators/public.decorator.spec.ts
  packages/auth/src/decorators/roles.decorator.spec.ts
  packages/auth/src/enums/role.enum.spec.ts
Owners: @Whiskyrie

test(auth): adicionar testes para guards de autenticação e autorização
  packages/auth/src/guards/jwt-auth.guard.spec.ts
  packages/auth/src/guards/roles.guard.spec.ts
Owners: @Whiskyrie

chore(auth): configurar ambiente de testes com Jest
  packages/auth/jest.config.json
  packages/auth/package.json
  packages/auth/src/test/setup.ts
  packages/auth/tsconfig.json
  packages/auth/tsconfig.spec.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat: adiciona motor de construção de relatórios e templates
  packages/reporting/src/services/report-builder.service.ts
  packages/reporting/src/templates/delivery-report.template.ts
  packages/reporting/src/templates/incident-report.template.ts
  packages/reporting/src/templates/route-report.template.ts
Owners: @Whiskyrie

build: adiciona dependências para geração de documentos e testes
  packages/reporting/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat: implementa serviços de geração de arquivos CSV, Excel e PDF
  packages/reporting/src/services/csv-generator.service.ts
  packages/reporting/src/services/excel-generator.service.ts
  packages/reporting/src/services/pdf-generator.service.ts
Owners: @Whiskyrie

feat: implementa entidade de persistência de relatórios
  packages/reporting/src/entities/report.entity.ts
Owners: @Whiskyrie

chore: configura ambiente de testes com Jest e TypeScript
  packages/reporting/jest.config.json
  packages/reporting/package.json
  packages/reporting/tsconfig.spec.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat: define interfaces e tipos base para o sistema de relatórios
  packages/reporting/src/enums/report-type.enum.spec.ts
  packages/reporting/src/index.ts
  packages/reporting/src/interfaces/reporting.interfaces.ts
Owners: @Whiskyrie

test: adiciona testes unitários para o núcleo de relatórios
  packages/reporting/src/decorators/auditable.decorator.spec.ts
  packages/reporting/src/dto/report-filter.dto.spec.ts
  packages/reporting/src/dto/report-response.dto.spec.ts
  packages/reporting/src/reports.module.spec.ts
  packages/reporting/src/reports.service.spec.ts
  packages/reporting/src/services/csv-generator.service.spec.ts
  packages/reporting/src/services/excel-generator.service.spec.ts
  packages/reporting/src/services/pdf-generator.service.spec.ts
  packages/reporting/src/services/report-builder.service.spec.ts
  packages/reporting/src/templates/delivery-report.template.spec.ts
  packages/reporting/src/templates/incident-report.template.spec.ts
  packages/reporting/src/templates/route-report.template.spec.ts
Owners: @Whiskyrie

feat: integra serviços no módulo de relatórios e expõe API inicial
  packages/reporting/src/index.ts
  packages/reporting/src/reports.module.ts
  packages/reporting/src/reports.service.ts
Owners: @Whiskyrie

test(common): configura ambiente de testes com Jest e ts-jest
  packages/common/jest.config.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/common/tsconfig.spec.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(common): implementa testes para validadores brasileiros e MOPP
  packages/common/src/validators/cep.validator.spec.ts
  packages/common/src/validators/cnh.validator.spec.ts
  packages/common/src/validators/cpf.validator.spec.ts
  packages/common/src/validators/license-plate.validator.spec.ts
  packages/common/src/validators/mopp.validator.spec.ts
Owners: @Whiskyrie

test(common): adiciona testes para interceptores e transformadores
  packages/common/src/interceptors/throttle.interceptor.spec.ts
  packages/common/src/transformers/point.transformer.spec.ts
Owners: @Whiskyrie

test(common): adiciona testes para utilitários e DTOs
  packages/common/src/dto/paginated-response.dto.spec.ts
  packages/common/src/utils/audit.util.spec.ts
  packages/common/src/utils/cls-audit.util.spec.ts
  packages/common/src/utils/date-time.util.spec.ts
  packages/common/src/utils/distance-calculator.util.spec.ts
Owners: @Whiskyrie

Refactor code structure for improved readability and maintainability
  packages/auth/tsconfig.tsbuildinfo
  packages/logger/tsconfig.tsbuildinfo
  packages/reporting/tsconfig.tsbuildinfo
Owners: @Whiskyrie

fix(common): corrige tipos e asserções em testes unitários
  packages/common/src/utils/audit.util.spec.ts
  packages/common/src/utils/cls-audit.util.spec.ts
Owners: @Whiskyrie

build: separa configurações de compilação do TypeScript por pacote
  packages/audit/package.json
  packages/audit/tsconfig.build.json
  packages/auth/package.json
  packages/auth/tsconfig.build.json
  packages/common/package.json
  packages/common/tsconfig.build.json
  packages/common/tsconfig.json
  packages/compliance/package.json
  packages/compliance/tsconfig.build.json
  packages/database/package.json
  packages/database/tsconfig.build.json
  packages/logger/package.json
  packages/logger/tsconfig.build.json
  packages/reporting/package.json
  packages/reporting/tsconfig.build.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

chore(common): adiciona dependência de teste do NestJS
  packages/common/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

chore(seeding): configura ambiente de testes com Jest
  packages/seeding/jest.config.json
  packages/seeding/src/test/setup.ts
Owners: @Whiskyrie

build(seeding): atualiza scripts e configurações do TypeScript
  packages/seeding/tsconfig.build.json
  packages/seeding/tsconfig.json
  packages/seeding/tsconfig.spec.json
Owners: @Whiskyrie

feat(seeding): adiciona dependências e scripts de teste no package.json
  packages/seeding/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(seeding): implementa testes para o módulo e provedores
  packages/seeding/src/seeding.module.spec.ts
  packages/seeding/src/seeding.providers.spec.ts
Owners: @Whiskyrie

test(seeding): adiciona testes unitários para o serviço de seeding
  packages/seeding/src/seeding.service.spec.ts
Owners: @Whiskyrie

test(seeding): implementa testes para seeds de logística e frota
  packages/seeding/src/seeds/drivers.seed.spec.ts
  packages/seeding/src/seeds/drivers.seed.ts
  packages/seeding/src/seeds/routes.seed.spec.ts
  packages/seeding/src/seeds/routes.seed.ts
  packages/seeding/src/seeds/vehicles.seed.spec.ts
  packages/seeding/src/seeds/vehicles.seed.ts
Owners: @Whiskyrie

test(seeding): implementa testes para seeds de entregas e monitoramento
  packages/seeding/src/seeds/deliveries-expanded.seed.spec.ts
  packages/seeding/src/seeds/deliveries-expanded.seed.ts
  packages/seeding/src/seeds/deliveries.seed.spec.ts
  packages/seeding/src/seeds/incidents.seed.spec.ts
  packages/seeding/src/seeds/incidents.seed.ts
  packages/seeding/src/seeds/tracking.seed.spec.ts
  packages/seeding/src/seeds/tracking.seed.ts
Owners: @Whiskyrie

test(seeding): implementa testes para seeds de clientes e pedidos
  packages/seeding/src/seeds/customers.seed.spec.ts
  packages/seeding/src/seeds/customers.seed.ts
  packages/seeding/src/seeds/service-orders.seed.spec.ts
  packages/seeding/src/seeds/service-orders.seed.ts
Owners: @Whiskyrie

test(seeding): implementa testes para seeds de infraestrutura e identidade
  packages/seeding/src/seeds/admin-user.seed.spec.ts
  packages/seeding/src/seeds/roles.seed.spec.ts
  packages/seeding/src/seeds/test-users.seed.spec.ts
Owners: @Whiskyrie

Adiciona testes para configuração de armazenamento
  packages/storage/src/config/storage.config.spec.ts
Owners: @Whiskyrie

.github/CODEOWNERS:

# ===================================================================
# CODEOWNERS para o repositório NexusTransit
#
# Proprietário Principal:
# Evandro Filho (Lead Developer) é o proprietário geral e revisor
# para arquivos críticos e áreas não especificadas.
#
# Equipe:
# - Evandro Filho  -> @Whiskyrie  (Lead)
# - Marlon Meireles -> @Maexar  (Backend)
# - Luiz Gustavo   -> @Gugalzg    (Frontend)
# - Marco França    -> @MarcoAfB   (Mobile)
#
# ===================================================================


# ===============================================================
# Regras Globais e Proprietários Principais
# ===============================================================

# Evandro, como Lead, é o proprietário padrão de tudo.
# Isso garante que nada passe sem um revisor.
* @Whiskyrie


# ===============================================================
# Documentação e Arquivos de Configuração Críticos
# ===============================================================

# Documentação e configurações do projeto são responsabilidade do Lead.
/docs/              @Whiskyrie
README.md           @Whiskyrie
.github/            @Whiskyrie


# ===============================================================
# Backend - Responsabilidade do Marlon e revisão do Lead
# ===============================================================

/src/server/        @Maexar @Whiskyrie
/src/api/           @Maexar @Whiskyrie
/src/controllers/   @Maexar
/src/services/      @Maexar
/src/database/      @Maexar
/prisma/            @Maexar


# ===============================================================
# Frontend - Responsabilidade do Luiz e revisão do Lead
# ===============================================================

/src/components/    @Gugalzg @Whiskyrie
/src/pages/         @Gugalzg @Whiskyrie
/src/styles/        @Gugalzg
/src/hooks/         @Gugalzg
*.jsx               @Gugalzg
*.tsx               @Gugalzg


# ===============================================================
# Mobile - Responsabilidade do Marco e revisão do Lead
# ===============================================================
# Assumindo que o código mobile ficará em uma pasta /mobile ou /src/mobile

/mobile/            @MarcoAfB @Whiskyrie
/src/mobile/        @MarcoAfB @Whiskyrie



# ===============================================================
# Configurações de Build e Dependências
# ===============================================================
# O especialista da área é o primeiro revisor, mas o Lead também aprova.

# Dependências gerais (afetam todos)
package.json        @Whiskyrie @Gugalzg @Maexar
yarn.lock           @Whiskyrie
pnpm-lock.yaml      @Whiskyrie

# Configurações de Build e Deploy (DevOps)
Dockerfile          @Whiskyrie
docker-compose.yml  @Whiskyrie
.gitlab-ci.yml      @Whiskyrie
