Repository Whiskyrie/NexusTransit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Whiskyrie, @Maexar, @Gugalzg, @MarcoAfB

.github/CODEOWNERS:

# ===================================================================
# CODEOWNERS para o repositório NexusTransit
#
# Proprietário Principal:
# Evandro Filho (Lead Developer) é o proprietário geral e revisor
# para arquivos críticos e áreas não especificadas.
#
# Equipe:
# - Evandro Filho  -> @Whiskyrie  (Lead)
# - Marlon Meireles -> @Maexar  (Backend)
# - Luiz Gustavo   -> @Gugalzg    (Frontend)
# - Marco França    -> @MarcoAfB   (Mobile)
#
# ===================================================================


# ===============================================================
# Regras Globais e Proprietários Principais
# ===============================================================

# Evandro, como Lead, é o proprietário padrão de tudo.
# Isso garante que nada passe sem um revisor.
* @Whiskyrie


# ===============================================================
# Documentação e Arquivos de Configuração Críticos
# ===============================================================

# Documentação e configurações do projeto são responsabilidade do Lead.
/docs/              @Whiskyrie
README.md           @Whiskyrie
.github/            @Whiskyrie


# ===============================================================
# Backend - Responsabilidade do Marlon e revisão do Lead
# ===============================================================

/src/server/        @Maexar @Whiskyrie
/src/api/           @Maexar @Whiskyrie
/src/controllers/   @Maexar
/src/services/      @Maexar
/src/database/      @Maexar
/prisma/            @Maexar


# ===============================================================
# Frontend - Responsabilidade do Luiz e revisão do Lead
# ===============================================================

/src/components/    @Gugalzg @Whiskyrie
/src/pages/         @Gugalzg @Whiskyrie
/src/styles/        @Gugalzg
/src/hooks/         @Gugalzg
*.jsx               @Gugalzg
*.tsx               @Gugalzg


# ===============================================================
# Mobile - Responsabilidade do Marco e revisão do Lead
# ===============================================================
# Assumindo que o código mobile ficará em uma pasta /mobile ou /src/mobile

/mobile/            @MarcoAfB @Whiskyrie
/src/mobile/        @MarcoAfB @Whiskyrie



# ===============================================================
# Configurações de Build e Dependências
# ===============================================================
# O especialista da área é o primeiro revisor, mas o Lead também aprova.

# Dependências gerais (afetam todos)
package.json        @Whiskyrie @Gugalzg @Maexar
yarn.lock           @Whiskyrie
pnpm-lock.yaml      @Whiskyrie

# Configurações de Build e Deploy (DevOps)
Dockerfile          @Whiskyrie
docker-compose.yml  @Whiskyrie
.gitlab-ci.yml      @Whiskyrie

fix(routes): melhorar validação de data planejada no interceptor
  apps/api/src/modules/routes/interceptors/route-validation.interceptor.ts
Owners: @Whiskyrie

fix(incidents): otimizar reset do formulário no IncidentFormModal
  apps/desktop/src/components/incidents/IncidentFormModal.tsx
Owners: @Gugalzg

feat(incidents): adicionar seletor de status com transições no modal de detalhes
  apps/desktop/src/components/incidents/IncidentDetailsModal.tsx
  apps/desktop/src/types/incident.types.ts
Owners: @Gugalzg, @Whiskyrie

feat(api): adicionar script de geocoding para eventos de tracking
  apps/api/package.json
  apps/api/scripts/geocode-tracking-events.ts
Owners: @Whiskyrie, @Gugalzg, @Maexar

chore(tauri): atualizar identifier e adicionar run-clean.sh
  apps/desktop/run-clean.sh
  apps/desktop/src-tauri/tauri.conf.json
Owners: @Whiskyrie

refactor(tables): remover colunas desnecessárias em entregas e incidentes
  apps/desktop/src/pages/DeliveriesPage.tsx
  apps/desktop/src/pages/IncidentsPage.tsx
Owners: @Gugalzg

chore(vscode): configurar rust-analyzer para projeto tauri
  .vscode/settings.json
Owners: @Whiskyrie

fix(tracking): filtrar coordenadas inválidas na API pública e mapa
  apps/api/src/modules/tracking/controllers/public-tracking.controller.ts
  apps/desktop/src/components/tracking/TrackingMap.tsx
Owners: @Whiskyrie, @Gugalzg

fix(ui): remover prop 'modal' inválida do componente Select
  apps/desktop/src/components/ui/Select/Select.tsx
Owners: @Gugalzg

chore: atualizar tsconfig.tsbuildinfo em geoServices
  packages/geoServices/tsconfig.tsbuildinfo
Owners: @Whiskyrie

style: atualizar estilos de botões para melhorar feedback visual
  apps/desktop/src/components/customers/CustomerModal.tsx
  apps/desktop/src/components/deliveries/DeliveryActions.tsx
  apps/desktop/src/components/incidents/IncidentActions.tsx
  apps/desktop/src/components/incidents/IncidentDetailsModal.tsx
  apps/desktop/src/components/incidents/IncidentFormModal.tsx
  apps/desktop/src/components/ui/Button.tsx
  apps/desktop/src/components/users/UserActions.tsx
  apps/desktop/src/components/vehicles/VehicleActions.tsx
Owners: @Gugalzg

style: implementar design tokens do sistema de design
  apps/desktop/src/core/design-system/tokens/colors.ts
  apps/desktop/src/core/design-system/tokens/index.ts
  apps/desktop/src/core/design-system/tokens/radius.ts
  apps/desktop/src/core/design-system/tokens/shadows.ts
  apps/desktop/src/core/design-system/tokens/spacing.ts
  apps/desktop/src/core/design-system/tokens/typography.ts
  apps/desktop/tailwind.config.js
Owners: @Whiskyrie

feat(organisms): implementar AppSidebar e sistema de Tabs com acessibilidade
  apps/desktop/src/shared/components/organisms/AppSidebar/AppSidebar.tsx
  apps/desktop/src/shared/components/organisms/AppSidebar/index.ts
  apps/desktop/src/shared/components/organisms/Tabs/Tabs.tsx
  apps/desktop/src/shared/components/organisms/Tabs/Tabs.types.ts
  apps/desktop/src/shared/components/organisms/Tabs/TabsWithContent.tsx
  apps/desktop/src/shared/components/organisms/Tabs/TabsWithContent.types.ts
  apps/desktop/src/shared/components/organisms/Tabs/index.ts
  apps/desktop/src/shared/components/organisms/Tabs/useTabNavigation.ts
  apps/desktop/src/shared/components/organisms/index.ts
Owners: @Gugalzg, @Whiskyrie

docs: adicionar documentação de arquitetura frontend
  apps/desktop/ARCHITECTURE.md
Owners: @Whiskyrie

feat(atoms): criar componentes básicos do design system
  apps/desktop/src/shared/components/atoms/Badge/Badge.styles.ts
  apps/desktop/src/shared/components/atoms/Badge/Badge.tsx
  apps/desktop/src/shared/components/atoms/Badge/Badge.types.ts
  apps/desktop/src/shared/components/atoms/Badge/index.ts
  apps/desktop/src/shared/components/atoms/Button/Button.styles.ts
  apps/desktop/src/shared/components/atoms/Button/Button.tsx
  apps/desktop/src/shared/components/atoms/Button/Button.types.ts
  apps/desktop/src/shared/components/atoms/Button/index.ts
  apps/desktop/src/shared/components/atoms/Card/Card.styles.ts
  apps/desktop/src/shared/components/atoms/Card/Card.tsx
  apps/desktop/src/shared/components/atoms/Card/Card.types.ts
  apps/desktop/src/shared/components/atoms/Card/index.ts
  apps/desktop/src/shared/components/atoms/Icon/Icon.styles.ts
  apps/desktop/src/shared/components/atoms/Icon/Icon.tsx
  apps/desktop/src/shared/components/atoms/Icon/Icon.types.ts
  apps/desktop/src/shared/components/atoms/Icon/index.ts
  apps/desktop/src/shared/components/atoms/index.ts
Owners: @Whiskyrie, @Gugalzg

refactor: migrar AppLayout para nova arquitetura
  apps/desktop/src/components/layouts/AppLayout.tsx
Owners: @Gugalzg

chore: configurar aliases de caminho e fontes Geist/Inter
  apps/desktop/index.html
  apps/desktop/tsconfig.json
  apps/desktop/tsconfig.paths.json
  apps/desktop/vite.config.ts
Owners: @Whiskyrie

feat(shared): adicionar hooks e componentes moleculares compartilhados
  apps/desktop/src/shared/components/index.ts
  apps/desktop/src/shared/components/molecules/CollapsibleSection/CollapsibleSection.tsx
  apps/desktop/src/shared/components/molecules/CollapsibleSection/CollapsibleSection.types.ts
  apps/desktop/src/shared/components/molecules/CollapsibleSection/index.ts
  apps/desktop/src/shared/components/molecules/MetricCard/MetricCard.tsx
  apps/desktop/src/shared/components/molecules/MetricCard/MetricCard.types.ts
  apps/desktop/src/shared/components/molecules/MetricCard/index.ts
  apps/desktop/src/shared/components/molecules/NavItem/NavItem.tsx
  apps/desktop/src/shared/components/molecules/NavItem/NavItem.types.ts
  apps/desktop/src/shared/components/molecules/NavItem/index.ts
  apps/desktop/src/shared/components/molecules/PageHeader/PageHeader.styles.ts
  apps/desktop/src/shared/components/molecules/PageHeader/PageHeader.tsx
  apps/desktop/src/shared/components/molecules/PageHeader/PageHeader.types.ts
  apps/desktop/src/shared/components/molecules/PageHeader/index.ts
  apps/desktop/src/shared/components/molecules/TabButton/TabButton.tsx
  apps/desktop/src/shared/components/molecules/TabButton/TabButton.types.ts
  apps/desktop/src/shared/components/molecules/TabButton/index.ts
  apps/desktop/src/shared/components/molecules/Table/Table.tsx
  apps/desktop/src/shared/components/molecules/Table/Table.types.ts
  apps/desktop/src/shared/components/molecules/Table/index.ts
  apps/desktop/src/shared/components/molecules/index.ts
  apps/desktop/src/shared/hooks/index.ts
  apps/desktop/src/shared/hooks/useCollapsible.ts
  apps/desktop/src/shared/utils/index.ts
Owners: @Whiskyrie, @Gugalzg

feat(core): centralizar configuração e lógica de navegação
  apps/desktop/src/core/index.ts
  apps/desktop/src/core/navigation/index.ts
  apps/desktop/src/core/navigation/navigation.config.ts
  apps/desktop/src/core/navigation/navigation.service.ts
Owners: @Whiskyrie

refactor(ui): remover Button antigo e marcar Table como legacy
  apps/desktop/src/components/ui/Button.tsx
  apps/desktop/src/components/ui/Table.legacy.tsx
  apps/desktop/src/components/ui/index.ts
Owners: @Gugalzg, @Whiskyrie

refactor(pages): aplicar novos componentes e cabeçalhos em todas as páginas
  apps/desktop/src/pages/CustomersPage.tsx
  apps/desktop/src/pages/DashboardPage.tsx
  apps/desktop/src/pages/DeliveriesPage.tsx
  apps/desktop/src/pages/DriversPage.tsx
  apps/desktop/src/pages/IncidentsPage.tsx
  apps/desktop/src/pages/LoginPage.tsx
  apps/desktop/src/pages/RoutesPage.tsx
  apps/desktop/src/pages/TrackingPage.tsx
  apps/desktop/src/pages/UsersPage.tsx
  apps/desktop/src/pages/VehiclesPage.tsx
Owners: @Gugalzg

refactor(components): atualizar modais e componentes para usar novo design system
  apps/desktop/src/components/customers/CustomerDetailsModal.tsx
  apps/desktop/src/components/customers/CustomerFilters.tsx
  apps/desktop/src/components/customers/CustomerModal.tsx
  apps/desktop/src/components/deliveries/DeliveryDetailsModal.tsx
  apps/desktop/src/components/deliveries/DeliveryFilters.tsx
  apps/desktop/src/components/deliveries/DeliveryFormModal.tsx
  apps/desktop/src/components/drivers/DriverFilters.tsx
  apps/desktop/src/components/drivers/DriverFormModal.tsx
  apps/desktop/src/components/incidents/IncidentAttachments.tsx
  apps/desktop/src/components/incidents/IncidentCommentThread.tsx
  apps/desktop/src/components/incidents/IncidentDetailsModal.tsx
  apps/desktop/src/components/incidents/IncidentFilters.tsx
  apps/desktop/src/components/incidents/IncidentFormModal.tsx
  apps/desktop/src/components/routes/RouteActions.tsx
  apps/desktop/src/components/routes/RouteFilters.tsx
  apps/desktop/src/components/routes/RouteFormModal.tsx
  apps/desktop/src/components/ui/ConfirmDeleteModal.tsx
  apps/desktop/src/components/ui/ConfirmLogoutModal.tsx
  apps/desktop/src/components/users/UserFilters.tsx
  apps/desktop/src/components/users/UserFormModal.tsx
  apps/desktop/src/components/vehicles/VehicleFilters.tsx
  apps/desktop/src/components/vehicles/VehicleFormModal.tsx
  apps/desktop/src/pages/RoutesPage.tsx
Owners: @Gugalzg

feat(incidents): criar componentes de feature para IncidentsPage
  apps/desktop/src/features/incidents/components/IncidentsListTab/IncidentsListTab.tsx
  apps/desktop/src/features/incidents/components/IncidentsListTab/index.ts
  apps/desktop/src/features/incidents/components/IncidentsStatsTab/IncidentsStatsTab.tsx
  apps/desktop/src/features/incidents/components/IncidentsStatsTab/index.ts
  apps/desktop/src/features/incidents/components/IncidentsWebhooksTab/IncidentsWebhooksTab.tsx
  apps/desktop/src/features/incidents/components/IncidentsWebhooksTab/index.ts
  apps/desktop/src/features/incidents/components/index.ts
Owners: @Gugalzg, @Whiskyrie

refactor(tracking): remover definição de PaginatedResponseDto e importar de @nexus/common
  apps/api/src/modules/tracking/dto/tracking-event-response.dto.ts
Owners: @Whiskyrie

chore: configurar scripts de placeholder para pacotes sem testes/lint
  apps/desktop/package.json
  packages/rate-limit/package.json
  packages/seeding/package.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

test: introduzir configurações base do Jest e otimizações de memória
  jest.config.base.js
  packages/audit/jest.config.json
  packages/database/jest.config.json
Owners: @Whiskyrie

ci: atualizar fluxo de trabalho e dependências do GitHub Actions
  .github/workflows/ci.yml
Owners: @Whiskyrie

fix(desktop): corrigir renderização do Tooltip no Sidebar
  apps/desktop/src/components/layouts/Sidebar.tsx
Owners: @Gugalzg

perf(root): otimizar execução do Turbo e limites de memória
  package.json
  turbo.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

fix(audit): corrigir tipos de ordenação e adicionar caminhos no tsconfig
  packages/audit/src/audit.service.ts
  packages/audit/tsconfig.json
  packages/audit/tsconfig.tsbuildinfo
  packages/seeding/tsconfig.tsbuildinfo
Owners: @Whiskyrie

fix(rate-limit): adjust tsconfig for output directory and composite settings
  .gitignore
  apps/api/tsconfig.migration.json
  apps/desktop/tsconfig.paths.json
  packages/audit/tsconfig.json
  packages/rate-limit/tsconfig.build.json
  packages/rate-limit/tsconfig.build.tsbuildinfo
  packages/rate-limit/tsconfig.json
Owners: @Whiskyrie

ui: atualizar cores de fundo do layout principal
  apps/desktop/src/components/layouts/AppLayout.tsx
Owners: @Gugalzg

chore: ajustar configurações de build e ambiente de desenvolvimento
  apps/api/tsconfig.json
  package.json
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat(deliveries): refatorar DeliveriesPage e criar novas abas de funcionalidade
  apps/desktop/src/features/deliveries/components/DeliveriesListTab/DeliveriesListTab.tsx
  apps/desktop/src/features/deliveries/components/DeliveriesListTab/index.ts
  apps/desktop/src/features/deliveries/components/DeliveriesMapTab/DeliveriesMapTab.tsx
  apps/desktop/src/features/deliveries/components/DeliveriesMapTab/index.ts
  apps/desktop/src/features/deliveries/components/DeliveriesStatsTab/DeliveriesStatsTab.tsx
  apps/desktop/src/features/deliveries/components/DeliveriesStatsTab/index.ts
  apps/desktop/src/features/deliveries/components/index.ts
  apps/desktop/src/pages/DeliveriesPage.tsx
Owners: @Gugalzg, @Whiskyrie

feat(roles): altera separador de permissões e melhora utilitários
  apps/api/src/modules/roles/guards/permissions.guard.spec.ts
  apps/api/src/modules/roles/utils/permission.util.spec.ts
Owners: @Whiskyrie

test(api): garante o encerramento dos módulos de teste (afterAll)
  apps/api/src/modules/auth/services/password.service.spec.ts
  apps/api/src/modules/auth/services/token-blacklist.service.spec.ts
  apps/api/src/modules/auth/services/token.service.spec.ts
  apps/api/src/modules/customers/customers.controller.spec.ts
  apps/api/src/modules/customers/customers.service.spec.ts
  apps/api/src/modules/deliveries/services/delivery-validation.service.spec.ts
  apps/api/src/modules/incidents/incidents.controller.spec.ts
  apps/api/src/modules/incidents/incidents.service.spec.ts
  apps/api/src/modules/incidents/services/incident-export.service.spec.ts
  apps/api/src/modules/incidents/services/incident-geo.service.spec.ts
  apps/api/src/modules/incidents/services/incident-state-machine.service.spec.ts
  apps/api/src/modules/incidents/services/incident-stats.service.spec.ts
  apps/api/src/modules/incidents/services/webhook.service.spec.ts
  apps/api/src/modules/roles/roles.service.spec.ts
  apps/api/src/modules/routes/services/route-metrics.service.spec.ts
  apps/api/src/modules/routes/services/route-optimization.service.spec.ts
  apps/api/src/modules/routes/services/route-validation.service.spec.ts
  apps/api/src/modules/service-orders/service-orders.service.spec.ts
  apps/api/src/modules/service-orders/services/service-order-workflow.service.spec.ts
  apps/api/src/modules/tracking/controllers/public-tracking.controller.spec.ts
  apps/api/src/modules/tracking/services/tracking-cache.service.spec.ts
  apps/api/src/modules/tracking/services/tracking-calculation.service.spec.ts
  apps/api/src/modules/tracking/services/tracking-events.service.spec.ts
  apps/api/src/modules/tracking/services/tracking-history.service.spec.ts
  apps/api/src/modules/tracking/subscribers/tracking-event.subscriber.spec.ts
  apps/api/src/modules/vehicles/vehicles.controller.spec.ts
  apps/api/src/modules/vehicles/vehicles.service.spec.ts
Owners: @Whiskyrie

test(deliveries/routes): corrige mocks de serviços geográficos e validação
  apps/api/src/modules/customers/customers.service.spec.ts
  apps/api/src/modules/deliveries/services/delivery-validation.service.spec.ts
  apps/api/src/modules/routes/routes.service.delivery-management.spec.ts
Owners: @Whiskyrie

refactor(api): ajusta tsconfig e imports para monorepo
  apps/api/src/modules/incidents/incidents.controller.ts
  apps/api/src/modules/incidents/incidents.module.ts
  apps/api/src/modules/tracking/dto/tracking-filter.dto.ts
  apps/api/tsconfig.json
Owners: @Whiskyrie

build(jest): centraliza e otimiza a configuração do jest
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/test/jest-e2e.json
  jest.config.base.js
  packages/audit/jest.config.json
  packages/geoServices/jest.config.js
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(incidents): refatora mocks de query builder e corrige lógica de exportação
  apps/api/src/modules/incidents/incidents.service.spec.ts
  apps/api/src/modules/incidents/services/incident-export.service.spec.ts
  apps/api/src/modules/incidents/services/incident-export.service.ts
  apps/api/src/modules/incidents/services/incident-geo.service.spec.ts
  apps/api/src/modules/incidents/services/incident-stats.service.spec.ts
  apps/api/src/modules/incidents/services/webhook.service.spec.ts
Owners: @Whiskyrie
