Repository Whiskyrie/NexusTransit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Whiskyrie, @Maexar, @Gugalzg, @MarcoAfB

.github/CODEOWNERS:

# ===================================================================
# CODEOWNERS para o repositório NexusTransit
#
# Proprietário Principal:
# Evandro Filho (Lead Developer) é o proprietário geral e revisor
# para arquivos críticos e áreas não especificadas.
#
# Equipe:
# - Evandro Filho  -> @Whiskyrie  (Lead)
# - Marlon Meireles -> @Maexar  (Backend)
# - Luiz Gustavo   -> @Gugalzg    (Frontend)
# - Marco França    -> @MarcoAfB   (Mobile)
#
# ===================================================================


# ===============================================================
# Regras Globais e Proprietários Principais
# ===============================================================

# Evandro, como Lead, é o proprietário padrão de tudo.
# Isso garante que nada passe sem um revisor.
* @Whiskyrie


# ===============================================================
# Documentação e Arquivos de Configuração Críticos
# ===============================================================

# Documentação e configurações do projeto são responsabilidade do Lead.
/docs/              @Whiskyrie
README.md           @Whiskyrie
.github/            @Whiskyrie


# ===============================================================
# Backend - Responsabilidade do Marlon e revisão do Lead
# ===============================================================

/src/server/        @Maexar @Whiskyrie
/src/api/           @Maexar @Whiskyrie
/src/controllers/   @Maexar
/src/services/      @Maexar
/src/database/      @Maexar
/prisma/            @Maexar


# ===============================================================
# Frontend - Responsabilidade do Luiz e revisão do Lead
# ===============================================================

/src/components/    @Gugalzg @Whiskyrie
/src/pages/         @Gugalzg @Whiskyrie
/src/styles/        @Gugalzg
/src/hooks/         @Gugalzg
*.jsx               @Gugalzg
*.tsx               @Gugalzg


# ===============================================================
# Mobile - Responsabilidade do Marco e revisão do Lead
# ===============================================================
# Assumindo que o código mobile ficará em uma pasta /mobile ou /src/mobile

/mobile/            @MarcoAfB @Whiskyrie
/src/mobile/        @MarcoAfB @Whiskyrie



# ===============================================================
# Configurações de Build e Dependências
# ===============================================================
# O especialista da área é o primeiro revisor, mas o Lead também aprova.

# Dependências gerais (afetam todos)
package.json        @Whiskyrie @Gugalzg @Maexar
yarn.lock           @Whiskyrie
pnpm-lock.yaml      @Whiskyrie

# Configurações de Build e Deploy (DevOps)
Dockerfile          @Whiskyrie
docker-compose.yml  @Whiskyrie
.gitlab-ci.yml      @Whiskyrie

feat(tracking): adicionar verificação automática de view materializada
  apps/api/src/modules/tracking/services/tracking-history.service.ts
Owners: @Whiskyrie

refactor(routes): melhorar busca com QueryBuilder flexível
  apps/api/src/modules/routes/routes.service.ts
Owners: @Whiskyrie

chore(desktop): atualizar dependências UI e logos
  apps/desktop/package.json
  apps/desktop/public/nexusWhite.svg
Owners: @Whiskyrie, @Gugalzg, @Maexar

refactor(calendar): migrar para react-day-picker v9
  apps/desktop/src/components/ui/Calendar.tsx
Owners: @Gugalzg

feat(driver-filters): quick filters e Select avançado
  apps/desktop/src/components/drivers/DriverFilters.tsx
Owners: @Gugalzg

fix(route-actions): corrigir status para PLANNED/PAUSED
  apps/desktop/src/components/routes/RouteActions.tsx
Owners: @Gugalzg

feat(routes-page): suporte a edição de rota
  apps/desktop/src/pages/RoutesPage.tsx
Owners: @Gugalzg

fix(route-table): usar objetos relacionais e planned_date
  apps/desktop/src/components/routes/RouteMetricsCard.tsx
  apps/desktop/src/components/routes/RouteTableRow.tsx
Owners: @Gugalzg

feat(vehicles): filtros e form com Select + edição
  apps/desktop/src/components/vehicles/VehicleFilters.tsx
  apps/desktop/src/components/vehicles/VehicleFormModal.tsx
  apps/desktop/src/pages/VehiclesPage.tsx
Owners: @Gugalzg

chore(date-picker): melhorias UX e posicionamento
  apps/desktop/src/components/ui/DatePicker.tsx
  apps/desktop/src/components/ui/DateTimePicker.tsx
Owners: @Gugalzg

chore(layout): usar SVG otimizado para logo Nexus
  apps/desktop/src/components/layouts/AppLayout.tsx
Owners: @Gugalzg

feat(route-filters): Select e filtros de data planned
  apps/desktop/src/components/routes/RouteFilters.tsx
Owners: @Gugalzg

chore(deps): atualizar lockfile com novas dependências
  pnpm-lock.yaml
Owners: @Whiskyrie

refactor(types/services): ajustes menores enums e filtros
  apps/desktop/src/services/route.service.ts
  apps/desktop/src/types/driver.types.ts
  apps/desktop/src/types/route.types.ts
  apps/desktop/src/types/vehicle.types.ts
Owners: @Whiskyrie

feat(utils): formatters para CPF/phone/CNH/placa
  apps/desktop/src/utils/formatters.ts
Owners: @Whiskyrie

Implement feature X to enhance user experience and optimize performance
  apps/desktop/src-tauri/Cargo.lock
Owners: @Whiskyrie

refactor(layouts): integrar Sidebar colapsável no AppLayout
  apps/desktop/src/components/layouts/AppLayout.tsx
Owners: @Gugalzg

chore: remover página de demo do calendário
  apps/desktop/src/App.tsx
  apps/desktop/src/pages/CalendarDemoPage.tsx
Owners: @Gugalzg

feat(deps): adicionar @base-ui/react para tooltips
  apps/desktop/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat: nova Sidebar colapsável com tooltips
  apps/desktop/src/components/layouts/Sidebar.tsx
  apps/desktop/src/components/layouts/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(icons): adicionar ícones padrão e escuro para a interface
  apps/desktop/public/icon.png
  apps/desktop/public/iconDark.png
Owners: @Whiskyrie

refactor(api): reestruturar entidade de tentativas de entrega
  apps/api/src/modules/deliveries/entities/delivery-attempt.entity.ts
Owners: @Whiskyrie

fix(api): ajustar relacionamentos e filtros no módulo de entregas
  apps/api/src/modules/deliveries/deliveries.service.ts
  apps/api/src/modules/deliveries/dto/delivery-filter.dto.ts
  apps/api/src/modules/vehicles/vehicles.service.ts
Owners: @Whiskyrie

feat(api): adicionar migrações para Deliveries e VehicleStatus
  apps/api/src/database/migrations/1694544000101-AddInRouteToVehicleStatusEnum.ts
  apps/api/src/database/migrations/1767770957963-AddMissingDeliveryColumns.ts
Owners: @Whiskyrie

feat(api): sincronizar status do veículo com o estado da rota
  apps/api/src/modules/routes/routes.module.ts
  apps/api/src/modules/routes/routes.service.ts
Owners: @Whiskyrie

feat(desktop): implementar visualização e listagem de entregas
  apps/desktop/src/App.tsx
  apps/desktop/src/components/deliveries/DeliveryActions.tsx
  apps/desktop/src/components/deliveries/DeliveryFilters.tsx
  apps/desktop/src/components/deliveries/DeliveryPriorityBadge.tsx
  apps/desktop/src/components/deliveries/DeliveryStatusBadge.tsx
  apps/desktop/src/components/deliveries/index.ts
  apps/desktop/src/components/layouts/Sidebar.tsx
  apps/desktop/src/pages/DeliveriesPage.tsx
  apps/desktop/src/pages/index.ts
  apps/desktop/src/services/delivery.service.ts
  apps/desktop/src/types/delivery.types.ts
Owners: @Gugalzg, @Whiskyrie

feat(seeding): expandir sistema de sementes com novos módulos e volume
  apps/api/package.json
  packages/seeding/src/seeding.module.ts
  packages/seeding/src/seeding.providers.ts
  packages/seeding/src/seeding.service.ts
  packages/seeding/src/seeds/customers.seed.ts
  packages/seeding/src/seeds/deliveries-expanded.seed.ts
  packages/seeding/src/seeds/drivers.seed.ts
  packages/seeding/src/seeds/incidents.seed.ts
  packages/seeding/src/seeds/index.ts
  packages/seeding/src/seeds/routes.seed.ts
  packages/seeding/src/seeds/service-orders.seed.ts
  packages/seeding/src/seeds/test-users.seed.ts
  packages/seeding/src/seeds/tracking.seed.ts
  packages/seeding/src/seeds/vehicles.seed.ts
  packages/seeding/tsconfig.tsbuildinfo
Owners: @Whiskyrie, @Gugalzg, @Maexar

fix(desktop): ajustes globais de UI e correções de z-index
  apps/desktop/src/components/drivers/DriverFilters.tsx
  apps/desktop/src/components/drivers/DriverFormModal.tsx
  apps/desktop/src/components/routes/RouteActions.tsx
  apps/desktop/src/components/routes/RouteFilters.tsx
  apps/desktop/src/components/routes/RouteFormModal.tsx
  apps/desktop/src/components/ui/ConfirmDeleteModal.tsx
  apps/desktop/src/components/ui/DatePicker.tsx
  apps/desktop/src/components/ui/Select/Select.styles.ts
  apps/desktop/src/components/ui/Table.tsx
  apps/desktop/src/components/ui/Toast.tsx
  apps/desktop/src/components/ui/charts/BarChart.tsx
  apps/desktop/src/components/ui/charts/LineChart.tsx
  apps/desktop/src/components/users/UserFilters.tsx
  apps/desktop/src/components/users/UserFormModal.tsx
  apps/desktop/src/components/vehicles/VehicleFilters.tsx
  apps/desktop/src/components/vehicles/VehicleFormModal.tsx
Owners: @Gugalzg, @Whiskyrie

feat(routes): integrar Google Maps para cálculo real de distância e duração
  apps/api/src/modules/routes/routes.module.ts
  apps/api/src/modules/routes/routes.service.ts
Owners: @Whiskyrie

feat(geo-services): adicionar autocomplete e detalhes de lugares à API do Google Maps
  packages/geoServices/src/index.ts
  packages/geoServices/src/interfaces/google-maps.interface.ts
  packages/geoServices/src/services/google-maps.service.ts
  packages/geoServices/tsconfig.tsbuildinfo
Owners: @Whiskyrie

feat(api): adicionar controlador e serviço de dashboard de entregas
  apps/api/src/modules/deliveries/controllers/delivery-dashboard.controller.ts
  apps/api/src/modules/deliveries/deliveries.module.ts
  apps/api/src/modules/deliveries/dto/dashboard-stats.dto.ts
  apps/api/src/modules/deliveries/services/delivery-dashboard.service.ts
Owners: @Whiskyrie

feat(deliveries): sincronizar status de motoristas e veículos com entregas
  apps/api/src/modules/deliveries/deliveries.service.ts
Owners: @Whiskyrie

refactor(routes): substituir planejado de fim por data estimada de término
  apps/api/src/database/migrations/1736040000000-UpdateRouteTimeFields.ts
  apps/api/src/modules/routes/dto/create-route.dto.ts
  apps/api/src/modules/routes/dto/route-response.dto.ts
  apps/api/src/modules/routes/entities/route.entity.ts
  apps/api/src/modules/routes/interfaces/route.interface.ts
  apps/desktop/src/types/route.types.ts
  packages/seeding/src/seeds/routes.seed.ts
  packages/seeding/tsconfig.tsbuildinfo
Owners: @Whiskyrie

feat(api): implementar endpoints de autocomplete de endereço e cache
  apps/api/src/modules/address/address.controller.ts
  apps/api/src/modules/address/constants/address.constants.ts
  apps/api/src/modules/address/dto/index.ts
  apps/api/src/modules/address/dto/place-autocomplete.dto.ts
  apps/api/src/modules/address/services/geocoding.service.ts
Owners: @Whiskyrie

feat(desktop/ui): adicionar componentes de gráfico e autocomplete de endereço
  apps/desktop/src/components/ui/AddressAutocomplete.tsx
  apps/desktop/src/components/ui/charts/BarChart.tsx
  apps/desktop/src/components/ui/charts/LineChart.tsx
  apps/desktop/src/components/ui/charts/PerformanceChart.tsx
  apps/desktop/src/components/ui/charts/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(desktop): implementar visualização dinâmica e gestão de entregas
  apps/desktop/src/components/dashboard/ShipmentsOverview.tsx
  apps/desktop/src/components/dashboard/TopClientes.tsx
  apps/desktop/src/components/dashboard/TopEstados.tsx
  apps/desktop/src/components/dashboard/index.ts
  apps/desktop/src/components/deliveries/DeliveryDetailsModal.tsx
  apps/desktop/src/components/deliveries/DeliveryFormModal.tsx
  apps/desktop/src/components/deliveries/index.ts
  apps/desktop/src/components/routes/RouteFormModal.tsx
  apps/desktop/src/pages/DashboardPage.tsx
  apps/desktop/src/pages/DeliveriesPage.tsx
  apps/desktop/src/services/api.ts
  apps/desktop/src/services/dashboard.service.ts
Owners: @Gugalzg, @Whiskyrie

feat(api): adicionar validações e filtros no DTO do dashboard de entregas
  apps/api/src/modules/deliveries/dto/dashboard-stats.dto.ts
  apps/api/src/modules/deliveries/services/delivery-dashboard.service.ts
  packages/seeding/src/seeds/deliveries.seed.ts
Owners: @Whiskyrie

feat(desktop/ui): remover ícone de seta do botão "Ver todas" na visão de entregas
  apps/desktop/src/components/dashboard/ShipmentsOverview.tsx
Owners: @Gugalzg

refactor: melhorar UX da sidebar com confirmação de logout e ajustes visuais
  apps/desktop/src/components/layouts/Sidebar.tsx
Owners: @Gugalzg

feat: adicionar modal de detalhes na visualização de remessas
  apps/desktop/src/components/dashboard/ShipmentsOverview.tsx
Owners: @Gugalzg
