Repository Whiskyrie/NexusTransit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Whiskyrie, @Maexar, @Gugalzg, @MarcoAfB

feat(ui): adicionar componentes MetricCard, BarChart e LineChart
  apps/desktop/src/components/ui/MetricCard.tsx
  apps/desktop/src/components/ui/charts/BarChart.tsx
  apps/desktop/src/components/ui/charts/LineChart.tsx
Owners: @Gugalzg

feat(página): implementar RoutesPage completa
  apps/desktop/src/pages/RoutesPage.tsx
Owners: @Gugalzg

fix(usupage): correções menores em imports, indentação e className
  apps/desktop/src/pages/UsersPage.tsx
Owners: @Gugalzg

feat(dashboard): aprimorar com novos métricos e gráficos
  apps/desktop/src/pages/DashboardPage.tsx
Owners: @Gugalzg

chore(assets): atualizar ícone do app para logo NexusTransit
  apps/desktop/index.html
  apps/desktop/public/nexus.svg
  apps/desktop/public/tauri.svg
  apps/desktop/public/vite.svg
  apps/desktop/src-tauri/tauri.conf.json
Owners: @Whiskyrie

style(routes): aprimorar design da tabela e header da página de rotas
  apps/desktop/src/pages/RoutesPage.tsx
Owners: @Gugalzg

feat(ui): implementar componentes de calendário e seletores de data/hora
  apps/desktop/src/App.css
  apps/desktop/src/App.tsx
  apps/desktop/src/components/ui/Calendar.tsx
  apps/desktop/src/components/ui/DateInput.tsx
  apps/desktop/src/components/ui/DatePicker.tsx
  apps/desktop/src/components/ui/DateRangePicker.tsx
  apps/desktop/src/components/ui/DateTimePicker.tsx
  apps/desktop/src/components/ui/index.ts
  apps/desktop/src/main.tsx
  apps/desktop/src/pages/CalendarDemoPage.tsx
  apps/desktop/src/styles/calendar.css
Owners: @Whiskyrie, @Gugalzg

feat(routes): integrar DateRangePicker nos filtros de rotas
  apps/desktop/src/components/routes/RouteFilters.tsx
Owners: @Gugalzg

feat(routes): integrar DateTimePicker no modal de criação de rotas
  apps/desktop/src/components/routes/RouteFormModal.tsx
Owners: @Gugalzg

feat(db): adicionar colunas de métricas e entregas na tabela routes
  apps/api/src/database/migrations/1736032000000-AddRouteTotalDistance.ts
  apps/api/src/database/migrations/1736033000000-AddRouteTotalDuration.ts
  apps/api/src/database/migrations/1736034000000-AddRouteDeliveryColumns.ts
  apps/api/src/database/migrations/1736035000000-AddRouteDeliveryId.ts
  apps/api/src/database/migrations/1736036000000-AddRouteStopDeliveryId.ts
Owners: @Whiskyrie

feat(db): adicionar e atualizar colunas na tabela vehicles
  apps/api/src/database/migrations/1736027744000-AddMissingVehicleColumns.ts
  apps/api/src/database/migrations/1736027744001-AddNextMaintenanceKmColumn.ts
  apps/api/src/database/migrations/1736028000000-AddVehicleChassisAndRenavam.ts
  apps/api/src/database/migrations/1736029000000-AddVehicleAverageConsumption.ts
  apps/api/src/database/migrations/1736030000000-AddVehicleLicenseExpiryDate.ts
  apps/api/src/database/migrations/1736031000000-AddVehicleNotes.ts
Owners: @Whiskyrie

feat(seeding): adicionar dotenv e refatorar CLI seed com DataSource
  packages/seeding/package.json
  packages/seeding/src/cli/seed.ts
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat(entities): adicionar enum RoleType e coluna type em Role
  apps/api/src/modules/auth/entities/role.entity.ts
Owners: @Whiskyrie

feat(seeding): adicionar RoleType nas interfaces e roles.seed
  packages/seeding/src/interfaces/role.interface.ts
  packages/seeding/src/seeds/roles.seed.ts
Owners: @Whiskyrie

fix(seeds): padronizar user_type/status e inserir roles via query
  packages/seeding/src/seeds/admin-user.seed.ts
  packages/seeding/src/seeds/test-users.seed.ts
Owners: @Whiskyrie

feat(db)!: tornar customer_address_id nullable em route_stops
  apps/api/src/database/migrations/1767582889093-MakeCustomerAddressNullableInRouteStops.ts
  apps/api/src/modules/routes/entities/route_stop.entity.ts
  apps/api/src/modules/routes/routes.service.ts
Owners: @Whiskyrie

feat(seeds): criar drivers.seed e vehicles.seed
  packages/seeding/src/seeds/drivers.seed.ts
  packages/seeding/src/seeds/vehicles.seed.ts
Owners: @Whiskyrie

feat(seeding): integrar novos seeds (drivers, vehicles, routes) no sistema
  packages/seeding/src/seeding.module.ts
  packages/seeding/src/seeding.providers.ts
  packages/seeding/src/seeding.service.ts
  packages/seeding/src/seeds/index.ts
  packages/seeding/src/seeds/routes.seed.ts
Owners: @Whiskyrie

feat(routes): refatorar RouteFilters para design expansível com quick filters
  apps/desktop/src/components/routes/RouteFilters.tsx
Owners: @Gugalzg

feat(routes): refatorar RoutesPage com modais de delete/toast e colunas atualizadas
  apps/desktop/src/pages/RoutesPage.tsx
Owners: @Gugalzg

chore(env): atualizar porta padrão da API para 3033
  apps/desktop/.env.example
Owners: @Whiskyrie

style(routes): aprimorar RouteMetricsCard com gradients, trends e hover effects
  apps/desktop/src/components/routes/RouteMetricsCard.tsx
Owners: @Gugalzg

chore(api): usar VITE_API_URL do ambiente e atualizar route service
  apps/desktop/src/services/api.ts
  apps/desktop/src/services/route.service.ts
Owners: @Whiskyrie

style(ui): melhorar Table com loading/empty states aprimorados e paginação
  apps/desktop/src/components/ui/Table.tsx
Owners: @Gugalzg

refactor(routes): atualizar RouteStatusBadge com icons e tamanhos variáveis
  apps/desktop/src/components/routes/RouteStatusBadge.tsx
Owners: @Gugalzg

feat(route): adicionar RouteType e atualizar interfaces de tipos
  apps/desktop/src/types/route.types.ts
Owners: @Whiskyrie

feat(ui): adicionar modo compact ao DatePicker
  apps/desktop/src/components/ui/DatePicker.tsx
Owners: @Gugalzg

feat(routes): implementar RouteFormModal completo com fetch de drivers/vehicles
  apps/desktop/src/components/routes/RouteFormModal.tsx
Owners: @Gugalzg

feat: adicione componentes compartilhados Toast e ConfirmDeleteModal
  apps/desktop/src/components/ui/ConfirmDeleteModal.tsx
  apps/desktop/src/components/ui/Toast.tsx
  apps/desktop/src/components/ui/index.ts
Owners: @Gugalzg, @Whiskyrie

chore: remova ícone Sparkles desnecessário do RouteFilters
  apps/desktop/src/components/routes/RouteFilters.tsx
Owners: @Gugalzg

feat: integre CRUD básico de veículos na VehiclesPage
  apps/desktop/src/pages/VehiclesPage.tsx
Owners: @Gugalzg

feat: adicione componentes para gerenciamento de motoristas
  apps/desktop/src/components/drivers/DriverActions.tsx
  apps/desktop/src/components/drivers/DriverFilters.tsx
  apps/desktop/src/components/drivers/DriverFormModal.tsx
  apps/desktop/src/components/drivers/DriverStatusBadge.tsx
  apps/desktop/src/components/drivers/index.ts
  apps/desktop/src/types/driver.types.ts
Owners: @Gugalzg, @Whiskyrie

feat: integre CRUD básico de motoristas na DriversPage
  apps/desktop/src/pages/DriversPage.tsx
Owners: @Gugalzg

feat: adicione componentes para gerenciamento de veículos
  apps/desktop/src/components/vehicles/VehicleActions.tsx
  apps/desktop/src/components/vehicles/VehicleFilters.tsx
  apps/desktop/src/components/vehicles/VehicleFormModal.tsx
  apps/desktop/src/components/vehicles/VehicleStatusBadge.tsx
  apps/desktop/src/components/vehicles/index.ts
  apps/desktop/src/types/vehicle.types.ts
Owners: @Gugalzg, @Whiskyrie

feat: criar view materializada tracking_history
  apps/api/scripts/recreate-tracking-history-view.sql
Owners: @Whiskyrie

feat(drivers-page): suporte a edição de motorista
  apps/desktop/src/pages/DriversPage.tsx
Owners: @Gugalzg

feat(route-form): suporte a edição com Selects
  apps/desktop/src/components/routes/RouteFormModal.tsx
Owners: @Gugalzg

feat(ui): novo componente Select com Headless UI
  apps/desktop/src/components/ui/Select/Select.styles.ts
  apps/desktop/src/components/ui/Select/Select.tsx
  apps/desktop/src/components/ui/Select/Select.types.ts
  apps/desktop/src/components/ui/Select/index.ts
  apps/desktop/src/components/ui/index.ts
Owners: @Whiskyrie, @Gugalzg

feat(users): página completa com CRUD e filtros
  apps/desktop/src/components/users/UserActions.tsx
  apps/desktop/src/components/users/UserFilters.tsx
  apps/desktop/src/components/users/UserFormModal.tsx
  apps/desktop/src/components/users/UserStatusBadge.tsx
  apps/desktop/src/components/users/UserTypeBadge.tsx
  apps/desktop/src/components/users/index.ts
  apps/desktop/src/pages/UsersPage.tsx
Owners: @Gugalzg, @Whiskyrie

feat(driver-form): suporte a edição com validações parciais
  apps/desktop/src/components/drivers/DriverFormModal.tsx
Owners: @Gugalzg

.github/CODEOWNERS:

# ===================================================================
# CODEOWNERS para o repositório NexusTransit
#
# Proprietário Principal:
# Evandro Filho (Lead Developer) é o proprietário geral e revisor
# para arquivos críticos e áreas não especificadas.
#
# Equipe:
# - Evandro Filho  -> @Whiskyrie  (Lead)
# - Marlon Meireles -> @Maexar  (Backend)
# - Luiz Gustavo   -> @Gugalzg    (Frontend)
# - Marco França    -> @MarcoAfB   (Mobile)
#
# ===================================================================


# ===============================================================
# Regras Globais e Proprietários Principais
# ===============================================================

# Evandro, como Lead, é o proprietário padrão de tudo.
# Isso garante que nada passe sem um revisor.
* @Whiskyrie


# ===============================================================
# Documentação e Arquivos de Configuração Críticos
# ===============================================================

# Documentação e configurações do projeto são responsabilidade do Lead.
/docs/              @Whiskyrie
README.md           @Whiskyrie
.github/            @Whiskyrie


# ===============================================================
# Backend - Responsabilidade do Marlon e revisão do Lead
# ===============================================================

/src/server/        @Maexar @Whiskyrie
/src/api/           @Maexar @Whiskyrie
/src/controllers/   @Maexar
/src/services/      @Maexar
/src/database/      @Maexar
/prisma/            @Maexar


# ===============================================================
# Frontend - Responsabilidade do Luiz e revisão do Lead
# ===============================================================

/src/components/    @Gugalzg @Whiskyrie
/src/pages/         @Gugalzg @Whiskyrie
/src/styles/        @Gugalzg
/src/hooks/         @Gugalzg
*.jsx               @Gugalzg
*.tsx               @Gugalzg


# ===============================================================
# Mobile - Responsabilidade do Marco e revisão do Lead
# ===============================================================
# Assumindo que o código mobile ficará em uma pasta /mobile ou /src/mobile

/mobile/            @MarcoAfB @Whiskyrie
/src/mobile/        @MarcoAfB @Whiskyrie



# ===============================================================
# Configurações de Build e Dependências
# ===============================================================
# O especialista da área é o primeiro revisor, mas o Lead também aprova.

# Dependências gerais (afetam todos)
package.json        @Whiskyrie @Gugalzg @Maexar
yarn.lock           @Whiskyrie
pnpm-lock.yaml      @Whiskyrie

# Configurações de Build e Deploy (DevOps)
Dockerfile          @Whiskyrie
docker-compose.yml  @Whiskyrie
.gitlab-ci.yml      @Whiskyrie
