Repository Whiskyrie/NexusTransit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Whiskyrie, @Maexar, @Gugalzg, @MarcoAfB

refactor: migrar DashboardPage para usar React Query
  apps/desktop/src/pages/DashboardPage.tsx
Owners: @Gugalzg

feat: implementar sistema de notificações toast para a aplicação
  apps/desktop/src/components/ui/ToastContext.tsx
Owners: @Gugalzg

feat: configurar React Query e provedor de toast na estrutura principal
  apps/desktop/src/main.tsx
Owners: @Gugalzg

feat: adicionar animação de erro na página de login
  apps/desktop/src/pages/LoginPage.tsx
Owners: @Gugalzg

feat: aprimorar filtros de rotas com seletores de motorista e veículo
  apps/desktop/src/components/routes/RouteFilters.tsx
Owners: @Gugalzg

refactor: atualizar types e serviço de rotas para suportar filtro de prioridade
  apps/desktop/src/services/route.service.ts
  apps/desktop/src/types/route.types.ts
Owners: @Whiskyrie

fix: ajustar estilos do gráfico de performance e tooltip
  apps/desktop/src/components/ui/charts/PerformanceChart.tsx
Owners: @Gugalzg

feat: refatorar modais para Headless UI e adicionar modal de confirmação de logout
  apps/desktop/src/components/ui/ConfirmDeleteModal.tsx
  apps/desktop/src/components/ui/ConfirmLogoutModal.tsx
Owners: @Gugalzg

feat: incluir dados de motoristas e veículos na página de rotas
  apps/desktop/src/pages/RoutesPage.tsx
Owners: @Gugalzg

(feat): refines delivery details modal with enhanced design and timeline
  apps/desktop/src/components/deliveries/DeliveryDetailsModal.tsx
Owners: @Gugalzg

Limpa importação desnecessária do React no contexto do Toast
  apps/desktop/src/components/ui/ToastContext.tsx
Owners: @Gugalzg

Implementa mecanismo de refresh automático de token no serviço de API
  apps/desktop/src/services/api.ts
Owners: @Whiskyrie

Remove exibição de horário de fim planejado na linha da tabela de rotas
  apps/desktop/src/components/routes/RouteTableRow.tsx
Owners: @Gugalzg

feat: adiciona licença Apache e diretrizes de design para frontend
  .github/skills/frontend-design/LICENSE.txt
  .github/skills/frontend-design/SKILL.md
Owners: @Whiskyrie

docs: adiciona perfis de agentes (Designer e Planner)
  .github/agents/designer.agent.md
  .github/agents/planner.agent.md
Owners: @Whiskyrie

feat: define tipos e serviço de integração para Clientes
  apps/desktop/src/services/customer.service.ts
  apps/desktop/src/types/customer.types.ts
Owners: @Whiskyrie

refactor: formata componentes UI e melhora acessibilidade
  apps/desktop/src/components/deliveries/DeliveryDetailsModal.tsx
  apps/desktop/src/components/ui/ConfirmDeleteModal.tsx
Owners: @Gugalzg

feat: implementa componentes de interface de Clientes
  apps/desktop/src/components/customers/CustomerDetailsModal.tsx
  apps/desktop/src/components/customers/CustomerFilters.tsx
  apps/desktop/src/components/customers/CustomerModal.tsx
Owners: @Gugalzg

feat: adiciona página de Clientes e configuração de rotas
  apps/desktop/src/App.tsx
  apps/desktop/src/components/layouts/Sidebar.tsx
  apps/desktop/src/pages/CustomersPage.tsx
  apps/desktop/src/pages/index.ts
Owners: @Gugalzg, @Whiskyrie

fix(api): refactor delivery creation transaction and error handling
  apps/api/src/modules/deliveries/deliveries.service.ts
Owners: @Whiskyrie

feat(api): migrate delivery and status history tables for compatibility
  apps/api/src/database/migrations/1768027902000-MakeDeliveryContactNullable.ts
  apps/api/src/database/migrations/1768028000000-MakeDeliveryColumnsNullable.ts
  apps/api/src/database/migrations/1768028100000-RenameDeliveryStatusHistoryColumns.ts
  apps/api/src/database/migrations/1768028200000-AddMissingDeliveryStatusHistoryColumns.ts
Owners: @Whiskyrie

style(desktop): format ToastContext and add types
  apps/desktop/src/components/ui/ToastContext.tsx
Owners: @Gugalzg

build(desktop): update dependency manager and add map libraries
  apps/desktop/package.json
  package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat(desktop): add address and customer selection components
  apps/desktop/src/components/ui/CustomerSelect.tsx
  apps/desktop/src/hooks/useAddressAutocomplete.ts
  apps/desktop/src/services/address.service.ts
  apps/desktop/src/services/index.ts
  apps/desktop/src/types/address.types.ts
  apps/desktop/src/utils/cep.utils.ts
Owners: @Gugalzg, @Whiskyrie

feat(desktop): improve DeliveryFormModal with autocomplete and validation
  apps/desktop/src/components/deliveries/DeliveryFormModal.tsx
  apps/desktop/src/types/delivery.types.ts
Owners: @Gugalzg, @Whiskyrie

refactor(api): update TrackingEvent entity for partitioning support
  apps/api/src/modules/tracking/entities/tracking-event.entity.ts
Owners: @Whiskyrie

feat(desktop): add copy tracking code functionality
  apps/desktop/src/components/deliveries/DeliveryDetailsModal.tsx
  apps/desktop/src/pages/DeliveriesPage.tsx
Owners: @Gugalzg

feat(desktop): add public tracking page and maps integration
  apps/desktop/src/App.tsx
  apps/desktop/src/components/layouts/Sidebar.tsx
  apps/desktop/src/components/tracking/TrackingMap.tsx
  apps/desktop/src/components/tracking/TrackingTimeline.tsx
  apps/desktop/src/pages/TrackingPage.tsx
  apps/desktop/src/services/tracking.service.ts
  apps/desktop/src/types/tracking.types.ts
  apps/desktop/src/vite-env.d.ts
Owners: @Gugalzg, @Whiskyrie

feat(desktop): add custom styling to the search button in TrackingPage
  apps/desktop/src/pages/TrackingPage.tsx
Owners: @Gugalzg

feat(storage): adicionar provedor de armazenamento Backblaze B2
  packages/storage/src/index.ts
  packages/storage/src/providers/backblaze-storage.provider.ts
  packages/storage/src/services/storage.service.ts
  packages/storage/tsconfig.tsbuildinfo
Owners: @Whiskyrie

feat(desktop): criar componentes de interface para incidentes
  apps/desktop/src/components/incidents/IncidentActions.tsx
  apps/desktop/src/components/incidents/IncidentAttachments.tsx
  apps/desktop/src/components/incidents/IncidentCommentThread.tsx
  apps/desktop/src/components/incidents/IncidentDetailsModal.tsx
  apps/desktop/src/components/incidents/IncidentFilters.tsx
  apps/desktop/src/components/incidents/IncidentFormModal.tsx
  apps/desktop/src/components/incidents/IncidentLocationMap.tsx
  apps/desktop/src/components/incidents/IncidentSeverityBadge.tsx
  apps/desktop/src/components/incidents/IncidentStatsCards.tsx
  apps/desktop/src/components/incidents/IncidentStatusBadge.tsx
  apps/desktop/src/components/incidents/IncidentStatusTimeline.tsx
  apps/desktop/src/components/incidents/IncidentTypeBadge.tsx
  apps/desktop/src/components/incidents/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(desktop): definir tipos e serviço de incidentes
  apps/desktop/src/services/driver.service.ts
  apps/desktop/src/services/incident.service.ts
  apps/desktop/src/types/incident.types.ts
Owners: @Whiskyrie

feat(api): permitir userId nulo em anexos e comentários de incidentes
  apps/api/src/database/migrations/1768115897134-MakeUserIdNullableInIncidents.ts
  apps/api/src/modules/incidents/entities/incident-attachment.entity.ts
  apps/api/src/modules/incidents/entities/incident-comment.entity.ts
  apps/api/src/modules/incidents/gateways/incident.gateway.ts
Owners: @Whiskyrie

feat(api): aprimorar gerenciamento de anexos e comentários de incidentes
  apps/api/src/modules/incidents/incidents.controller.ts
  apps/api/src/modules/incidents/incidents.service.ts
Owners: @Whiskyrie

fix(api): tratar erro de tabela inexistente no serviço de webhook
  apps/api/src/modules/incidents/services/webhook.service.ts
Owners: @Whiskyrie

style(api): ajustes cosméticos no controlador de saúde
  apps/api/src/health/health.controller.ts
Owners: @Whiskyrie

feat(desktop): adicionar página de incidentes e navegação
  apps/desktop/src/App.tsx
  apps/desktop/src/components/layouts/Sidebar.tsx
  apps/desktop/src/pages/IncidentsPage.tsx
  apps/desktop/src/pages/index.ts
Owners: @Gugalzg, @Whiskyrie

refactor(incidents): usar DTOs estruturados no controller e simplificar state machine
  apps/api/src/modules/incidents/dto/update-incident.dto.ts
  apps/api/src/modules/incidents/incidents.controller.spec.ts
  apps/api/src/modules/incidents/incidents.controller.ts
  apps/api/src/modules/incidents/services/incident-state-machine.service.ts
Owners: @Whiskyrie

refactor(incidents): simplificar ações da tabela para botões inline
  apps/desktop/src/components/incidents/IncidentActions.tsx
Owners: @Gugalzg

fix(ui): corrigir z-index e modal do componente Select
  apps/desktop/src/components/ui/Select/Select.styles.ts
  apps/desktop/src/components/ui/Select/Select.tsx
Owners: @Whiskyrie, @Gugalzg

.github/CODEOWNERS:

# ===================================================================
# CODEOWNERS para o repositório NexusTransit
#
# Proprietário Principal:
# Evandro Filho (Lead Developer) é o proprietário geral e revisor
# para arquivos críticos e áreas não especificadas.
#
# Equipe:
# - Evandro Filho  -> @Whiskyrie  (Lead)
# - Marlon Meireles -> @Maexar  (Backend)
# - Luiz Gustavo   -> @Gugalzg    (Frontend)
# - Marco França    -> @MarcoAfB   (Mobile)
#
# ===================================================================


# ===============================================================
# Regras Globais e Proprietários Principais
# ===============================================================

# Evandro, como Lead, é o proprietário padrão de tudo.
# Isso garante que nada passe sem um revisor.
* @Whiskyrie


# ===============================================================
# Documentação e Arquivos de Configuração Críticos
# ===============================================================

# Documentação e configurações do projeto são responsabilidade do Lead.
/docs/              @Whiskyrie
README.md           @Whiskyrie
.github/            @Whiskyrie


# ===============================================================
# Backend - Responsabilidade do Marlon e revisão do Lead
# ===============================================================

/src/server/        @Maexar @Whiskyrie
/src/api/           @Maexar @Whiskyrie
/src/controllers/   @Maexar
/src/services/      @Maexar
/src/database/      @Maexar
/prisma/            @Maexar


# ===============================================================
# Frontend - Responsabilidade do Luiz e revisão do Lead
# ===============================================================

/src/components/    @Gugalzg @Whiskyrie
/src/pages/         @Gugalzg @Whiskyrie
/src/styles/        @Gugalzg
/src/hooks/         @Gugalzg
*.jsx               @Gugalzg
*.tsx               @Gugalzg


# ===============================================================
# Mobile - Responsabilidade do Marco e revisão do Lead
# ===============================================================
# Assumindo que o código mobile ficará em uma pasta /mobile ou /src/mobile

/mobile/            @MarcoAfB @Whiskyrie
/src/mobile/        @MarcoAfB @Whiskyrie



# ===============================================================
# Configurações de Build e Dependências
# ===============================================================
# O especialista da área é o primeiro revisor, mas o Lead também aprova.

# Dependências gerais (afetam todos)
package.json        @Whiskyrie @Gugalzg @Maexar
yarn.lock           @Whiskyrie
pnpm-lock.yaml      @Whiskyrie

# Configurações de Build e Deploy (DevOps)
Dockerfile          @Whiskyrie
docker-compose.yml  @Whiskyrie
.gitlab-ci.yml      @Whiskyrie
