Repository Whiskyrie/NexusTransit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Whiskyrie, @Maexar, @Gugalzg, @MarcoAfB

.github/CODEOWNERS:

# ===================================================================
# CODEOWNERS para o repositório NexusTransit
#
# Proprietário Principal:
# Evandro Filho (Lead Developer) é o proprietário geral e revisor
# para arquivos críticos e áreas não especificadas.
#
# Equipe:
# - Evandro Filho  -> @Whiskyrie  (Lead)
# - Marlon Meireles -> @Maexar  (Backend)
# - Luiz Gustavo   -> @Gugalzg    (Frontend)
# - Marco França    -> @MarcoAfB   (Mobile)
#
# ===================================================================


# ===============================================================
# Regras Globais e Proprietários Principais
# ===============================================================

# Evandro, como Lead, é o proprietário padrão de tudo.
# Isso garante que nada passe sem um revisor.
* @Whiskyrie


# ===============================================================
# Documentação e Arquivos de Configuração Críticos
# ===============================================================

# Documentação e configurações do projeto são responsabilidade do Lead.
/docs/              @Whiskyrie
README.md           @Whiskyrie
.github/            @Whiskyrie


# ===============================================================
# Backend - Responsabilidade do Marlon e revisão do Lead
# ===============================================================

/src/server/        @Maexar @Whiskyrie
/src/api/           @Maexar @Whiskyrie
/src/controllers/   @Maexar
/src/services/      @Maexar
/src/database/      @Maexar
/prisma/            @Maexar


# ===============================================================
# Frontend - Responsabilidade do Luiz e revisão do Lead
# ===============================================================

/src/components/    @Gugalzg @Whiskyrie
/src/pages/         @Gugalzg @Whiskyrie
/src/styles/        @Gugalzg
/src/hooks/         @Gugalzg
*.jsx               @Gugalzg
*.tsx               @Gugalzg


# ===============================================================
# Mobile - Responsabilidade do Marco e revisão do Lead
# ===============================================================
# Assumindo que o código mobile ficará em uma pasta /mobile ou /src/mobile

/mobile/            @MarcoAfB @Whiskyrie
/src/mobile/        @MarcoAfB @Whiskyrie



# ===============================================================
# Configurações de Build e Dependências
# ===============================================================
# O especialista da área é o primeiro revisor, mas o Lead também aprova.

# Dependências gerais (afetam todos)
package.json        @Whiskyrie @Gugalzg @Maexar
yarn.lock           @Whiskyrie
pnpm-lock.yaml      @Whiskyrie

# Configurações de Build e Deploy (DevOps)
Dockerfile          @Whiskyrie
docker-compose.yml  @Whiskyrie
.gitlab-ci.yml      @Whiskyrie

feat(address): adicionar DTOs para utilitários de endereço, geocoding e validação
  apps/api/src/modules/address/dto/address-utility.dto.ts
  apps/api/src/modules/address/dto/geocode-request.dto.ts
  apps/api/src/modules/address/dto/index.ts
  apps/api/src/modules/address/dto/reverse-geocode.dto.ts
  apps/api/src/modules/address/dto/validate-address.dto.ts
Owners: @Whiskyrie

feat(address): adicionar utils, validators e decorators
  apps/api/src/modules/address/decorators/index.ts
  apps/api/src/modules/address/decorators/valid-address.decorator.ts
  apps/api/src/modules/address/utils/address-formatter.util.ts
  apps/api/src/modules/address/utils/index.ts
  apps/api/src/modules/address/validators/brazilian-state.validator.ts
  apps/api/src/modules/address/validators/index.ts
Owners: @Whiskyrie

feat(address): adicionar endpoints validate e reverse-geocode no controller
  apps/api/src/modules/address/address.controller.ts
Owners: @Whiskyrie

feat(address): adicionar enums, constantes e exceções personalizadas
  apps/api/src/modules/address/constants/address.constants.ts
  apps/api/src/modules/address/constants/index.ts
  apps/api/src/modules/address/enums/address-type.enum.ts
  apps/api/src/modules/address/enums/brazilian-state.enum.ts
  apps/api/src/modules/address/enums/country-code.enum.ts
  apps/api/src/modules/address/enums/index.ts
  apps/api/src/modules/address/exceptions/address.exceptions.ts
  apps/api/src/modules/address/exceptions/index.ts
Owners: @Whiskyrie

feat(address): adicionar interfaces e tipos para endereços e geocoding
  apps/api/src/modules/address/interfaces/address.interface.ts
  apps/api/src/modules/address/interfaces/geocoding.interface.ts
  apps/api/src/modules/address/interfaces/index.ts
Owners: @Whiskyrie

feat(address): extrair serviços auxiliares com cache Redis
  apps/api/src/modules/address/services/address-validation.service.ts
  apps/api/src/modules/address/services/cep-lookup.service.ts
  apps/api/src/modules/address/services/geocoding.service.ts
  apps/api/src/modules/address/services/index.ts
Owners: @Whiskyrie

feat(address): adicionar GeocodingInterceptor para geocoding assíncrono
  apps/api/src/modules/address/interceptors/geocoding.interceptor.ts
  apps/api/src/modules/address/interceptors/index.ts
Owners: @Whiskyrie

perf(users): melhorar decorator CurrentUser com type safety e comentários
  apps/api/src/modules/users/decorators/current-user.decorator.ts
Owners: @Whiskyrie

chore(users): correções menores no unique-email validator
  apps/api/src/modules/users/validators/unique-email.validator.ts
Owners: @Whiskyrie

feat(address): adicionar AddressSubscriber para normalização automática
  apps/api/src/modules/address/subscribers/address.subscriber.ts
  apps/api/src/modules/address/subscribers/index.ts
Owners: @Whiskyrie

fix(auth): melhorar carregamento de usuário na JWT strategy
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
Owners: @Whiskyrie

chore(address): adicionar barrel exports e index principal
  apps/api/src/modules/address/entities/index.ts
  apps/api/src/modules/address/index.ts
Owners: @Whiskyrie

chore(address): atualizar AddressModule com novos providers e Redis
  apps/api/src/modules/address/address.module.ts
Owners: @Whiskyrie

chore(deps): adicionar dependências do Jest e scripts de teste ao pacote database
  package.json
  packages/database/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

test(database-module): adicionar testes unitários para database.module
  packages/database/src/database.module.spec.ts
Owners: @Whiskyrie

chore(test): configurar Jest e tsconfig para testes no pacote database
  packages/database/jest.config.json
  packages/database/tsconfig.json
Owners: @Whiskyrie

test(data-source): adicionar testes unitários para data-source.factory
  packages/database/src/data-source.factory.spec.ts
Owners: @Whiskyrie

Refactor code structure for improved readability and maintainability
  packages/database/src/data-source.factory.spec.ts
  packages/database/tsconfig.tsbuildinfo
  packages/seeding/tsconfig.tsbuildinfo
Owners: @Whiskyrie

Implement feature X to enhance user experience and optimize performance
  pnpm-lock.yaml
Owners: @Whiskyrie

feat(db): adicionar last_activity_at em users e display_name em roles
  apps/api/src/database/migrations/1736001000000-AddLastActivityAtToUsers.ts
  apps/api/src/database/migrations/1736002000000-AddDisplayNameToRoles.ts
Owners: @Whiskyrie

feat(types): atualizar UserPayload e adicionar tipos de usuário
  apps/desktop/src/types/auth.types.ts
  apps/desktop/src/types/user.types.ts
Owners: @Whiskyrie

feat(stores): adicionar Zustand store para autenticação
  apps/desktop/src/stores/auth.store.ts
  apps/desktop/src/stores/index.ts
Owners: @Whiskyrie

feat(layout): adicionar AppLayout com sidebar e ProtectedRoute
  apps/desktop/src/components/ProtectedRoute.tsx
  apps/desktop/src/components/index.ts
  apps/desktop/src/components/layouts/AppLayout.tsx
  apps/desktop/src/components/layouts/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(routing): configurar React Router com rotas protegidas no App
  apps/desktop/src/App.tsx
  apps/desktop/src/main.tsx
Owners: @Gugalzg

feat(services): configurar API base e implementar auth/user services
  apps/desktop/src/services/api.ts
  apps/desktop/src/services/auth.service.ts
  apps/desktop/src/services/index.ts
  apps/desktop/src/services/user.service.ts
Owners: @Whiskyrie

chore(api): habilitar CORS para desktop e web
  apps/api/src/main.ts
Owners: @Whiskyrie

feat(design): adicionar fontes Inter, título e animações no desktop
  apps/desktop/index.html
  apps/desktop/src/App.css
  apps/desktop/src/styles/animations.css
Owners: @Whiskyrie

feat(ui): adicionar componentes reutilizáveis Button, Input, Table, etc.
  apps/desktop/src/components/ui/AuthCard.tsx
  apps/desktop/src/components/ui/Button.tsx
  apps/desktop/src/components/ui/Input.tsx
  apps/desktop/src/components/ui/TabSwitcher.tsx
  apps/desktop/src/components/ui/Table.tsx
  apps/desktop/src/components/ui/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(pages): implementar LoginPage e DashboardPage
  apps/desktop/src/pages/DashboardPage.tsx
  apps/desktop/src/pages/LoginPage.tsx
  apps/desktop/src/pages/index.ts
Owners: @Gugalzg, @Whiskyrie

chore(deps): adicionar recharts e atualizar pnpm-lock.yaml
  apps/desktop/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

feat(dashboard): substituir gráfico de barras mock por Recharts
  apps/desktop/src/pages/DashboardPage.tsx
Owners: @Gugalzg

feat(tipos): adicionar tipos TypeScript para motoristas e veículos
  apps/desktop/src/types/driver.types.ts
  apps/desktop/src/types/vehicle.types.ts
Owners: @Whiskyrie

feat(páginas): adicionar páginas de gerenciamento para usuários, motoristas e veículos
  apps/desktop/src/App.tsx
  apps/desktop/src/pages/DriversPage.tsx
  apps/desktop/src/pages/UsersPage.tsx
  apps/desktop/src/pages/VehiclesPage.tsx
  apps/desktop/src/pages/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(serviços): adicionar serviços API para listagem/crud de motoristas e veículos
  apps/desktop/src/services/driver.service.ts
  apps/desktop/src/services/vehicle.service.ts
Owners: @Whiskyrie

feat(rotas): adicionar componentes específicos da página de rotas
  apps/desktop/src/components/routes/RouteActions.tsx
  apps/desktop/src/components/routes/RouteFilters.tsx
  apps/desktop/src/components/routes/RouteFormModal.tsx
  apps/desktop/src/components/routes/RouteMetricsCard.tsx
  apps/desktop/src/components/routes/RoutePriorityBadge.tsx
  apps/desktop/src/components/routes/RouteStatusBadge.tsx
  apps/desktop/src/components/routes/RouteTableRow.tsx
  apps/desktop/src/components/routes/index.ts
Owners: @Gugalzg, @Whiskyrie

feat(tipo): adicionar tipos para rotas e corrigir Partial em driver/vehicle
  apps/desktop/src/types/driver.types.ts
  apps/desktop/src/types/route.types.ts
  apps/desktop/src/types/vehicle.types.ts
Owners: @Whiskyrie

chore(deps): adicionar date-fns e atualizar pnpm-lock.yaml
  apps/desktop/package.json
  pnpm-lock.yaml
Owners: @Whiskyrie, @Gugalzg, @Maexar

chore(gitignore): adicionar design.json ao .gitignore
  .gitignore
Owners: @Whiskyrie

feat(serviço): adicionar route.service para API de rotas
  apps/desktop/src/services/route.service.ts
Owners: @Whiskyrie

feat(navegação): integrar RoutesPage na navegação e sidebar
  apps/desktop/src/App.tsx
  apps/desktop/src/components/layouts/AppLayout.tsx
  apps/desktop/src/pages/index.ts
Owners: @Gugalzg, @Whiskyrie
